/*TODO: adapt to desktop*/
body {
  font-size: 15px;
  font-family: helvetica, sans-serif;
  margin: 0;
}
.msglist {
  left: 0;
  right: 0;
  overflow-y: auto;
}
.conversation {
  left: 99%;
  background-color: #fff;
  box-shadow: -5px 0 15px #999;
  padding-bottom: 20px;
}
section {
  margin: none;
  position: fixed;
  width: 100%;
  top: 40px;
  bottom: 0;
  border: 1px solid #ddd;
  transition: all 0.35s;
  overflow-x: hidden;
}


header {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  background-color: #0e76bc;
  background-image: -webkit-radial-gradient(circle, #2098d5 20%, #0e76bc 75%);
  text-align: center;
  font-size: 2em;
  box-shadow: 2px 0 15px #888;
}
header img {
  width: 30px;
  max-height: 30px;
  vertical-align: middle;
  margin: 5px auto;
}

.header {
  margin: 8px auto;
  width: 25px;
  position: absolute;
}
.header-right {
  right: 5px;
}
.header-left {
  left: 5px;
}
.header:active {
  background-image: -webkit-radial-gradient(circle, rgba(255, 255, 255, 0.75) 30%, rgba(0, 0, 0, 0) 75%);
}

.msglist ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.msglist li {
  border-bottom: 1px solid #aaa;
  max-height: 40px;
  padding: 5px;
}
.msglist li img {
  width: 15%;
  max-width: 40px;
  vertical-align: baseline;
}
.msglist li h3 {
  display: block;
  font-weight: 100;
  margin: 0;
}
.msglist li span {
  white-space:nowrap;
  overflow: hidden;
  display: block;
  height: 15px;
  width: 100%;
  text-overflow: ellipsis;
}
.msglist div {
  display: inline-block;
  width: 80%;
}
.sendmsg {
  position: fixed;
  bottom: -30px; /*Hide until conversation view*/
  right: 0;
  left: 0;
  height: 30px;
  background-color: #aaa;
  transition: bottom 0.5s;
}
.messages ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
  position: relative;
}
.speech {
  display: inline-block;
  position:relative;
  padding:5px;
  margin: 5px 3px;
  border:5px solid #5a8f00;
  color:#333;
  background-color: #df9;
  /* css3 */
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
  color: #000;
  font-weight: 600;
}
.speech::before {
  content:"";
  position:absolute;
  bottom:-20px; /* value = - border-top-width - border-bottom-width */
  left:40px; /* controls horizontal position */
  border-width:20px 20px 0;
  border-style:solid;
  border-color:#5a8f00 transparent;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}
.speech.otherown::before {
  top:5px; /* controls vertical position */
  bottom:auto;
  left:-30px; /* value = - border-left-width - border-right-width */
  border-width:5px 10px 5px 15px;
  border-color:transparent #5a8f00;
}
.speech.userown::before {
  top:5px; /* controls vertical position */
  bottom:auto;
  left: auto;
  right: -30px; /* value = - border-left-width - border-right-width */
  border-width:5px 17px 5px 10px;
  border-color:transparent #5a8f00;
}
.speech.userown {
  margin-right: 10px;
  float: right;
}
.speech.otherown {
  margin-left: 10px;
}
