/*TODO: adapt to desktop*/
body {
  font-size: 15px;
  font-family: helvetica, sans-serif;
  margin: 0;
}
.msglist {
  left: 0;
  right: 0;
  overflow-y: scroll;
}
.conversation {
  left: 99%;
  background-color: #fff;
  box-shadow: -5px 0 15px #999;
}
section {
  margin: none;
  position: fixed;
  width: 100%;
  top: 40px;
  bottom: 0;
  border: 1px solid #ddd;
  transition: all 0.35s;
}


header {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  background-color: #0e76bc;
  background-image: -webkit-radial-gradient(circle, #2098d5 20%, #0e76bc 75%);
  text-align: center;
  font-size: 2em;
  box-shadow: 2px 0 15px #888;
}
header img {
  width: 30px;
  max-height: 30px;
  vertical-align: middle;
  margin: 5px auto;
}

.header {
  margin: 8px auto;
  width: 25px;
  position: absolute;
}
.header-right {
  right: 5px;
}
.header-left {
  left: 5px;
}
.header:active {
  background-image: -webkit-radial-gradient(circle, rgba(255, 255, 255, 0.75) 30%, rgba(0, 0, 0, 0) 75%);
}

.msglist ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.msglist li {
  border-bottom: 1px solid #aaa;
  padding: 5px;
  max-height: 40px;
}
.msglist li img {
  vertical-align: sub;
}
.msglist li h3 {
  display: block;
  font-weight: 100;
  margin: 0;
}
.msglist li span {
  white-space:nowrap;
  overflow: hidden;
  display: block;
  height: 15px;
  width: 100%;
  text-overflow: ellipsis;
}
.msglist div {
  display: inline-block;
  width: 80%;
}
.sendmsg {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 30px;
  background-color: #aaa;
}
.messages ul {
  list-style-type: none;
}
.messages li {
  margin-top: 5px;
}
.otherown 
{
  display: inline-block;
position: relative;
  min-height: 20px;
padding: 5px;
background: #D1F1FF;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
border: #206DD0 solid 3px;
}

.otherown:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 5px 17px 5px 0;
border-color: transparent #D1F1FF;
display: block;
width: 0;
z-index: 1;
margin-top: -5px;
left: -17px;
top: 50%;
}

.otherown:before 
{
content: '';
position: absolute;
border-style: solid;
border-width: 7px 19px 7px 0;
border-color: transparent #206DD0;
display: block;
width: 0;
z-index: 0;
margin-top: -7px;
left: -22px;
top: 50%;
}
.userown 
{
  display: inline-block;
position: relative;
  min-height: 20px;
padding: 5px;
background: #FFE5BB;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
border: #FF9400 solid 3px;
  text-align: right;
  margin-left: auto;
  margin-right: 0;
}

.userown:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 5px 0 5px 17px;
border-color: transparent #FFE5BB;
display: block;
width: 0;
z-index: 1;
margin-top: -5px;
right: -17px;
top: 50%;
}

.userown:before 
{
content: '';
position: absolute;
border-style: solid;
border-width: 7px 0 7px 19px;
border-color: transparent #FF9400;
display: block;
width: 0;
z-index: 0;
margin-top: -7px;
right: -22px;
top: 50%;
}